@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-cabinet-grotesk);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-cabinet-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 1s ease-out forwards;
}

/* FONT FAMILY CABINET GROTESK */
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/cabinet-grotesk/CabinetGrotesk-Regular.woff2")
      format("woff2"),
    url("/fonts/cabinet-grotesk/CabinetGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/cabinet-grotesk/CabinetGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/cabinet-grotesk/CabinetGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/cabinet-grotesk/CabinetGrotesk-ExtraBold.woff2") format("woff2"),
       url("/fonts/cabinet-grotesk/CabinetGrotesk-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

/* Optional: Tailwind-compatible class */
.font-cabinet {
  font-family: "Cabinet Grotesk", sans-serif;
}
